<div id="modal" class="point">
    <div class="content">
        <img src="/assets/check.svg" alt="Cadastrado com sucesso">
        <h1>Cadastro concluído</h1>
        <form action="/search-results">
            <label for="search">Cidade</label>
            <div class="search field">
                <input type="text" 
                name="search" 
                placeholder="Pesquise por cidade">
                <button>
                    <img src="/assets/search.svg" alt="Buscar">
                </button>
            </div> 
        </form>
    </div>
</div>

<script>
    setTimeOut(() => {
    window.location = "/"
    }, 2000)
</script>